html {
  font-family: "Unica One", sans-serif;
}

h1 {
  animation: come-in .5s linear forwards;
  transform-origin: left center;
}

h2 {
  animation: come-in .5s linear forwards;
  transform-origin: left center;
}

div {
  position: relative;
}

svg {
  position: absolute;
}

.text {
  color: #fff;
  position: absolute;
  left: 60px;
  top: 160px;
}

#narwhal-body {
  animation: around 1s linear forwards;
  stroke-dasharray: 1950px;
  stroke-dashoffset: 1950px;
}

#narwhal-eye {
  animation: come-in .5s linear forwards;
  animation-delay: .5s;
  opacity: 0;
}

#rainbow-violet {
  animation: shine 4s linear forwards;
  stroke-dasharray: 9800px;
  stroke-dashoffset: 9800px;
  animation-delay: .5s;
}

#rainbow-indigo {
  animation: shine 4s linear forwards;
  stroke-dasharray: 9800px;
  stroke-dashoffset: 9800px;
  animation-delay: .5s;
}

#rainbow-blue {
  animation: shine 4s linear forwards;
  stroke-dasharray: 9800px;
  stroke-dashoffset: 9800px;
  animation-delay: .5s;
}

#rainbow-green {
  animation: shine 4s linear forwards;
  stroke-dasharray: 9800px;
  stroke-dashoffset: 9800px;
  animation-delay: .5s;
}

#rainbow-yellow {
  animation: shine 4s linear forwards;
  stroke-dasharray: 9800px;
  stroke-dashoffset: 9800px;
  animation-delay: .5s;
}

#rainbow-orange {
  animation: shine 4s linear forwards;
  stroke-dasharray: 9800px;
  stroke-dashoffset: 9800px;
  animation-delay: .5s;
}

#rainbow-red {
  animation: shine 4s linear forwards;
  stroke-dasharray: 9800px;
  stroke-dashoffset: 9800px;
  animation-delay: .5s;
}

@keyframes shine {

  0% {
    stroke-dashoffset: 9800px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes around {

  0% {
    stroke-dashoffset: 1950px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes come-in {

  0% {
    opacity: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}
